@{
    ViewBag.Title = "Contact Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Winnie Madela drive<br />
        KhumaloCraft, WA 064 007 5648<br />
        <abbr title="Phone">Phone us on:</abbr>
        064 007 5648
    </address>

    <address>
        <strong>Support:</strong>   <a href="mary:Support@example.com">Support@khumaloj.com</a><br />
        <strong>Marketing:</strong> <a href="mary:Marketing@example.com">Marketing@khumaloj.com</a>
    </address>

</main>